<h3 class="mt-3">All Lessons</h3>

<table class="table" *ngIf="lessons && lessons.length">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Description</th>
    <th scope="col">Duration</th>
  </thead>
  <tbody>
  <tr
    class="lesson-row cursor-pointer"
    *ngFor="let lesson of lessons"
    [routerLink]="['lessons', lesson.seqNo]"
  >
    <th scope="row">
      {{ lesson.seqNo }}
    </th>
    <td class="description-cell">{{ lesson.description }}</td>
    <td class="duration-cell">{{ lesson.duration }}</td>
  </tr>
  </tbody>
</table>
