<div class="modal-header">
  <h4 class="modal-title">Edit Course</h4>
  <button type="button" class="bg-secondary close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<app-err-message></app-err-message>
<div class="modal-body">
  <!-- <app-loading></app-loading> -->
  <app-course-edit-form [course]="course" (submittedForm)="onSubmit($event)" (close)="onFormClose()"></app-course-edit-form>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->